body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}




@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}


.d-grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.btn-contact,
select {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.btn-contact,
.btn,
select {
  cursor: pointer;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* Section top bottom gap */
.section-gap {
  padding: 4.5rem 0;
}

@media screen and (max-width:767px) {
  .section-gap {
    padding: 3.5rem 0;
  }

}

@media screen and (max-width:480px) {
  .section-gap {
    padding: 3rem 0;
  }

}


/* / Section top bottom gap */

.d-grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

a.action {
  border: none;
  color: #304659;
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
}

a.action img {
  margin-left: 4px;
}

.top-map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  margin-top: -80px;
}

.cont-details span.fa {
  margin-right: 10px;
  font-size: 16px;
  width: 20px;
  text-align: center;
  color: #6ec6e2;
}

.cont-details h5 {
  font-size: 28px;
  line-height: 40px;
  color: #000;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 20px;
}


.cont-details h5:hover  {
  color: #6ec6e2;
}

.cont-details:hover h5:after {
  width: 25px;
}

.cont-details h5:after {
  content: '';
  position: relative;
  left: 4%;
  top: 5px;
  transform: translateX(-50%);
  display: block;
  width: 40px;
  height: 1px;
  background: #6f6f6f;
  transition: width .3s;
  z-index: -1;
}
.cont-details p,
.cont-details p a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.cont-details p a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.cont-details address {
  margin: 25px 0 10px;
}

.cont-details address p {
  margin: 10px 0 0 0;
  color: #717171;
  border-bottom: 1px solid #f5f9ff;
  padding: 0 0 10px 0;
}

p.sub-para {
  color: #f5f9ff;
  font-size: 17px;
  line-height: 25px;
  font-weight: normal;
  margin-bottom: 40px;
}

.map iframe {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.map-content-9 input[type=name],input[type=email],input[type=message] {
  background: #fff;
  border: none;
  color: #777;
  font-size: 16px;
  line-height: 10px;
  padding: 8px;
  width: 100%;
  margin-top: 15px;
  border-radius: 0.25rem;
  border: 1px solid #f5f9ff;
}

.map-content-9 h5 {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #3c3836;
}

.map-content-9 input[type=message] {
  resize: none;
  min-height:100px;
  margin-top: 2px;

}

.map-content-9 input[type=name],input[type=email],input[type=message]:focus {
  border: 1px solid #f5f9ff;
  background: #ffffff;
}

.btn-contact {
  font-size: 0.65rem;;
  padding: 0.75rem 1.5rem;
  color: #fff;
  background-color: #3c3836;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  margin-top: 10px;
  text-transform: uppercase;
}

.btn-contact:hover {
 color: #3c3836;
  background-color: #a8d8ec;
  border-color: none;

}


.contacts-sub-9 address h4 {
  margin-bottom: 10px;
}

.contacts-sub-9 address a {
  display: block;
}

@media (max-width: 992px) {
  .top-map {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .map {
    order: 2;
  }

  .map-content-9 {
    order: 1;
  }

  .cont-details p,
  .cont-details p a {
    font-size: 16px;
  }

  .cont-details h5 {
    font-size: 20px;
    line-height: 35px;
  }
  .cont-details h5:after {
  left: 4%;
}

  .cont-details {
    padding: 0 0 20px;
    padding-top: 0px;
  }

  .map iframe {
    height: 350px;
  }
}

@media (max-width: 800px) {
  h4.sub-feat-text {
    margin-bottom: 10px;
    font-size: 33px;
  }

  p.sub-para {
    font-size: 15px;
  }
}

@media (max-width: 736px) {
  .top-map {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }

    .cont-details {
    padding: 0 0 20px;
    padding-top: 55px;
  }
}

@media (min-width: 481) and (max-width: 600px) {
    .cont-details {
    padding: 0 0 20px;
    padding-top: 120px;
  }
}


@media (max-width: 480px) {
    .cont-details {
    padding: 0 0 20px;
    padding-top: 80px;
  }

@media (max-width: 480px) {
  h4.sub-feat-text {
    margin-bottom: 8px;
    font-size: 30px;
  }

  p.sub-para {
    font-size: 14px;
    margin-bottom: 35px;
    line-height: 20px;
  }

  .twice-two {
    grid-template-columns: 1fr;
  }

 .btn-contact {
    width: 100%;
  }

    .cont-details h5:after {
  left: 7%;
}

  .cont-details {
    padding: 0 0 20px;
    padding-top: 100px;
  }

}

@media (max-width: 384px) {
  h4.sub-feat-text {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 28px;
  }
    .cont-details h5:after {
  left: 6%;
}
}