
body{
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #3c3836 ;
  background: -webkit-linear-gradient(-135deg, #81cee6, #81cee6);
  background: -o-linear-gradient(-135deg, #fa1581 , #fa1581);
  background: -moz-linear-gradient(-15deg, #fa1581, #fa1581 );
  background: linear-gradient(-125deg, #81cee6, #fa1581 );

}
.btn-submit
{ margin-top: 20px;
  
}
.btn-submit:hover{
	background-color:  #3c3836 ;
}
.logo{
	margin-top: 80px;
	margin-bottom: 50px;
	margin-left: 40%;
}

h2{
	color: #fff;
	
}